# IDE
.vscode/*
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment
.env

# Private files (SSL keys and certs)
**/*.pem

# Python files (QR Generator)
**/__pycache__/
source/qr_gen/*.py[oc]
source/qr_gen/build/
source/qr_gen/dist/
source/qr_gen/wheels/
source/qr_gen/*.egg-info

# Virtual environment (QR Generator)
source/qr_gen/.venv

# Generated QR codes
**/equipment_qr.png

# Frontend
## Logs
source/frontend/logs
source/frontend/*.log
source/frontend/npm-debug.log*
source/frontend/yarn-debug.log*
source/frontend/yarn-error.log*
source/frontend/pnpm-debug.log*
source/frontend/lerna-debug.log*

## Node_modules and build directories
source/frontend/node_modules
source/frontend/dist
source/frontend/dist-ssr
source/frontend/*.local

# Built static files from frontend
source/backend/web
source/backend/tmp

# compiled backend
source/backend/main
source/backend/equipment_qr
